*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
/*Header Sections*/
header {
    margin: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .bx {
    font-size: 1.8rem;
}

nav img {
    width: 10em;
}

/*Mobile Menus*/
.mobile-menu {
    display: none;
}

.mobile-menu ul {
    margin: 1em 0;
    list-style: none;
    justify-content: space-between;
}

.mobile-menu ul li {
    text-align: center;
    padding: 1em;
    justify-content: center;
    transition: all ease 0.5s;
}

/*Hero BUtton section */
.hero-btn-section {
    margin: 1.5em 1em;
    text-align: center;
}

.hero-btn-section button {
    padding: 0.5em;
    width: 10em;
    font-size: 1rem;
    border-radius: 40px;
    border: 3px solid #FFA724;
    background-color: transparent;
    transition: all ease 0.5s;
}

.account-spendings-section {
    margin: 1em;
}

.account-section ul {
    list-style: none;
}

.account-section ul li {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    padding: 1.5em;
    border: 1px solid #FFA724;
    border-radius: 5px;
    transition: all ease 0.5s;
}

.account-section ul li:hover, 
.account-section ul li:active, 
.hero-btn-section button:hover, 
.mobile-menu ul li:hover,
.mobile-menu ul li:active,
.active
{
    background-color: #FFA724;
    cursor: pointer;
}

.spending-section ul {
    list-style: none;
}

.spending-section ul li {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #FFA724;
    border-radius: 5px;
    background-color: #FFA724;
}


@media only screen and (min-width: 768px) {
    header {

        margin: 1em 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    header nav img {
        margin: 0 auto;
        width: 18em;
    }

    header nav .bx {
        display: none;
    }

    header .mobile-menu {
        display: block;
    }
    
    .mobile-menu ul {
        margin: 1em 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        background-color: #FFD18C;
    }
    
    .mobile-menu ul li {
        text-align: center;
        padding: 1em;
        justify-content: center;
        transition: all ease 0.5s;
    }

    .hero-btn-section button {
        padding: 1em;
        width: 15em;
        font-size: 1rem;
        font-weight: 600;
    }

    .account-spendings-section {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .account-spendings-section .account-section {
        width: 45%;
    }

    .account-spendings-section .spending-section {
        width: 45%;
    }
}